.box {
  height:300px;
  width: 300px;
  overflow-y: scroll;
  background: red;
}

.products--grid{
    display: flex;
    flex-direction: column;
    div {
      img{
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-radius: 10px;
        border-color: aqua;
      }
      h2,p{
          margin: 0;
      }
    }
}
.message-error{
  background: red;
  color: white;
  opacity: 0; //No se vera
  transition: all linear .5s;
  &.invalid{ //Si esta el mensaje con la clase invalido se muestra el mensaje
    opacity: 1;
  }
}
.line-error{
  height: 0;
  border-bottom: 3px solid;
  &.invalid{ //Si esta el mensaje con la clase invalido se muestra el mensaje
    border-color: red;
  }
  &.valid{ //Si esta el mensaje con la clase invalido se muestra el mensaje
    border-color: green;
  }
}
.estilosDiv{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
@media screen and (min-width: 40em) { //Media para cuando sea en PC
  .products--grid{
  display: grid;
  grid-template-columns: repeat(5, 1fr); //5 columnas fraccionadas
  grid-gap: 15px; // que haya 15px entre las imagenes
  }
}
