<h1>ngSwitch</h1> <!--Engloba los ifs en una sola estructura de control-->
<input type="text" required  [(ngModel)]="person.name">
<div [ngSwitch]="person.name">
  <p *ngSwitchCase= "'Nicolas'">
      Soy Nicolas
  </p>
  <p *ngSwitchCase="'Juan'">
    Soy Juan
  </p>
  <p *ngSwitchCase="'Natalia'">
  Soy Natalia
  </p>
  <p *ngSwitchCase="'Nicol'">
  Soy Nicol
  </p>
  <p *ngSwitchDefault>No hace match</p> <!-- Si no hace match con algun case-->
</div>
<hr/>
<h1>*ngFor Objs</h1>
<div class="products--grid">
    <div *ngFor="let product of products">
       <img  [src]="product.image" alt="imagen">
       <h2>{{ product.price }}</h2>
       <p>{{ product.name }}</p>
    </div>
</div>
<hr/>
<h1>*ngFor</h1>
<input type="text" required  [(ngModel)]="newName"> <!--Escuchara constantemente a la variable del appComponent-->
<button (click)="addName()">Agregar Nombre</button>
 <!--Renderizamos el array dentro del HTML-->
 <ul>
    <li *ngIf="names.length === 0">No hay Nombres </li>
  <!--name sera la variable temporal-->
    <li *ngFor="let name of names; index as i"> <!--Array de iteraciones que trae names de app-Componente-->
      <!--Renombramos el index del array -->
       {{i}} {{name}}
       <button (click)="deleteName(i)">Delete</button>
    </li>
</ul>
<hr/>
<h1>*ngIf</h1>
<input type="text" required  [(ngModel)]="person.name">
<p *ngIf="person.name === 'Nicolas'">Soy Nicolas</p> <!--Condicion-->
<p *ngIf="person.name === 'Juan' && person.age ===18; else Blocke">Soy Juan y soy mayor de edad</p> <!--Condicion si el nombre es tal se muestra tal-->
<ng-template #Blocke>
  <p>Bloque del Blocke</p>
</ng-template>
<hr/>
<h1>NgModel</h1>
<p>Nombre: {{person.name}}</p>
<!--Toca configurar primero y habilitar el modulo de formularios-->
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name"> <!--Envia y configura el valor-->
<p>Valid: {{nameInput.valid}}</p> <!--NgModel mira si el input se valida nativamente de html-->
<p>Age {{person.age}}</p>
<input type="number" max="18" min="10" required #ageInput="ngModel" [(ngModel)]="person.age"> <!--Cambiar la edad-->
<p>Valid: {{ageInput.valid}}</p> <!--Ng model toma los valores automaticamente y verifica-->
<!--Modifica y lee el valor -->
<hr/>
<h1>Eventos</h1>
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toggleButton()">ToggleButton</button> <!--Al click el boton cambia de estado-->
<p>Edad {{person.age}}</p>
<button (click)="sumaEdadButton()">sumaAnios</button>
<button (click)="restaEdadButton()">restaAnios</button>
<div class="box" (scroll)="onScroll($event)"> <!--Capturamos el evento de forma nativa onScroll barra de subir y bjar-->
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta ex ullam veniam alias illo? Consequuntur quo, suscipit tempore obcaecati natus eius tenetur minus, possimus inventore excepturi iure ullam earum laborum porro perspiciatis laudantium molestiae repudiandae atque dolores sapiente qui voluptate architecto corporis? Quas sint non, minus sunt iure dignissimos! Eius, dolor natus voluptas omnis fugit veniam odit neque incidunt quisquam eos aut nesciunt tenetur, repellat accusantium magni perferendis ipsum. Dolorem illum tempora impedit voluptatem, rem ad quos explicabo eaque incidunt voluptatum ducimus. Dicta itaque ad cumque amet animi dolorum placeat voluptas aut, distinctio ipsa nemo unde harum provident assumenda fugit!, ipsum dolor sit amet consectetur adipisicing elit. Sed, cupiditate provident quia quasi inventore facilis dolorum, recusandae, esse voluptatem nobis aut iusto laboriosam eum quaerat. Blanditiis nostrum magnam quasi nisi?</p>
</div>
<p>Nombre: {{person.name}}</p>
<input type="text" [value]="person.name" (keyup)="changeName($event)"> <!--Keyup Cada vez que tecleamos-->
<hr/>
<h1> Propiedades</h1>
<button [disabled]="btnDisabled">Enviar</button> <!--Puedo cambiar la propiedad o la logica desde el componente   -->
<input type="text" [value]="name">
<input type="text" [value]="person.name"> <!--Traigo un nombre de un objeto-->
<img width=100 [src]="person.avatar"> <!--Traigo una imagen -->
<progress max="100" [value]="age"></progress> <!--Muestra barras de progreso-->
<img width=100 [src]="img" >
<hr>
<h1>Hola soy nicolas</h1>
<h2>{{ 'Hola mundo'.repeat(5)}}</h2>
<h3>El titulo de la pagina web es {{title}}</h3>
<p>3+3 = {{3+3}}</p>
<img width="100"src={{img}} alt="imageAngular">
